.body {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    min-width: 1280px;
}

.first-block {
    height: 908px;
    background: url(./assets/noise_transparent.svg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    width: max-content;
}
.header {
    margin: 0 auto;
    width: 1200px;
    height: 60px;
    padding: 60px 40px 0px 40px;
    margin-bottom: 60px;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-logo {
    width: 186px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    
}
.logo-text__shelter-name {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.logo-text__shelter-description {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding-right: 2px;
}

.header__nav {
    width: 443px;
    height: 27px;
}

.links {
    display: flex;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.links__el {
    margin-right: 35px;
    height: 24px;
}

.links__el:last-child {
    margin-right: 0px;
}

.links__about {
    text-decoration: none;
    color: #CDCDCD;
}

.links__about:hover {
    text-decoration: none;
    color: #FAFAFA;
}

.links__our-pets {
    text-decoration: none;
    color: #CDCDCD;
}

.links__our-pets:hover {
    color: #FAFAFA;
}

.links__help {
    text-decoration: none;
    color: #CDCDCD;
}

.links__help:hover {
    color: #FAFAFA;
}

.links__contacts {
    text-decoration: none;
    color: #CDCDCD;
}

.links__contacts:hover {
    color: #FAFAFA;
}

.active {
    border-bottom: 3px solid #F1CDB3;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    
}

.active-text {
    color: #FAFAFA;
}


.first-page-middle-block {
    margin-left: 40px;
    width: 1200px;
    height: 728px;
    margin: 0 auto;
}
.first-page-middle-block__content {
    width: 1200px;
    height: 728px;
    display: flex;
    justify-content: space-between;
}

.first-page-middle-block__left-part {
    width: 460px;
    height: 321px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 163px;
}
.first-page-middle-block__title {
    width: 310px;
    height: 114px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.first-page-middle-block__description {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #CDCDCD;
}
.first-page-middle-block__button {
    width: 207px;
    height: 52px;
    bottom: 244px;
    background: #F1CDB3;
    border-radius: 100px;
    border: 0px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.first-page-middle-block__button:hover {
    background: #FDDCC4;
}




.about-shelter {
    padding-top: 80px;
    padding-bottom: 100px;
}
.about-shelter__content {
    width: 850px;
    height: 408px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.about-shelter__dog {
    background: url(./assets/about-pets.svg);
    width: 300px;
    height: 408px;
    display: block;
}

.description-part {
    width: 430px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.description-part__title {
    width: 370px;
    height: 90px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.description-part__first-desc {
    width: 430px;
    height: 96px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}
.description-part__second-desc {
    width: 430px;
    height: 144px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #4C4C4C;
}



.our-friends {
    padding-top: 80px;
    padding-bottom: 100px;
    background: #F6F6F6;
}

.our-friends__content {
    width: 1200px;
    height: 697px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.our-friends__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    width: 400px;
    height: 90px;
    margin: 0 auto; 
}
.our-friends__middle-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-arrow, .right-arrow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background: #F6F6F6;
}
.left-arrow__image, .right-arrow__image {
    margin: auto auto;
}

.left-arrow:hover, .right-arrow:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.pets-cards {
    width: 990px;
    height: 435px;
    display: flex;
    justify-content: space-between;
}
.pet-card {
    background: #FAFAFA;
    border-radius: 9px;
}

.pet-card:hover {
    background: white;
    cursor: pointer;
}

.pet-card__content {    
    width: 270px;
    height: 405px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
}

.pet-card__name {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.pet-card__button {
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    width: 187px;
    height: 52px;
    background: #FAFAFA;
}

.get-to-know-the-rest {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #F1CDB3;
    border-radius: 100px;
    border-width: 0px;
    width: 261px;   
    height: 52px;
    margin: 0 auto;
}

.get-to-know-the-rest:hover {
    background: #f5dcc9;
}

.button-text {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin: auto auto;
}





.how {
    padding-top: 80px;
    padding-bottom: 100px;
}
.how__content {
    width: 1200px;
    height: 431px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.how__title {
    width: 310px;
    height: 90px;
    left: 446px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.how__elems {
    width: 1026px;
    height: 281px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 55px;
    justify-content: center;
}

.how__elem {
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 119px;
}

.how__elem:nth-of-type(4n + 5) {
    margin-right: 0px;
}

.how__elem-about {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation {
    padding-top: 81px;
    padding-bottom: 101px;
    background: #F6F6F6;
}

.donation__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 915px;
    height: 282px;
    margin: 0 auto;
}

.donation__main-part {
    height: 282px;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.donation__main-part-title {
    width: 300px;
    height: 90px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}
.donation__main-part-name-bank {
    width: 308px;
    height: 17px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}
.donation__main-part-button {
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    border-width: 0px;
}

.donation__main-part-button:hover {
    background: #f5dcc9;
}

.donation__main-part-button-content {
    width: 319px;
    height: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
}

.donation__main-part-button-card-number {
    width: 275px;
    height: 23px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    text-decoration: none;
}
.donation__main-part-info {
    width: 380px;
    height: 72px;
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}




.footer {
    background: url(./assets/noise_transparent.svg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    padding-top: 40px;
}
.footer__content {
    width: 1200px;
    height: 310px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.footer__left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 279px;
    height: 234px;
    padding-top: 16px;
}
.footer__left-block-title {
    width: 279px;
    height: 90px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.footer__left-block-email {
    width: 251px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__left-block-email-address {
    width: 191px;
    height: 23px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}

.footer__left-block-phone {
    width: 239px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__left-block-phone-number {
    width: 180px;
    height: 23px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}
.footer__center-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 302px;
    height: 234px;
    padding-top: 16px;
}
.footer__center-block-title {
    width: 279px;
    height: 90px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.footer__center-block-first-address {
    width: 303px;
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__center-block-exact-first-address {
    width: 260px;
    height: 46px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-align: left;
    text-decoration: none;
}

.footer__center-block-exact-second-address {
    width: 260px;
    height: 23px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-align: left;
    text-decoration: none;
}

.footer__center-block-second-address {
    width: 303px;
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}