@font-face {
    font-family: "Georgia";
    src: url(../assets/fonts/Georgia/Georgia-Regular.ttf);
    font-weight: 400
}

.body {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    margin: 0 auto;
}

.header {
    margin: 0 auto;
    padding: 30px 40px;
    position: sticky;
    top: 0;
    background: white;
    
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.left-logo {
    width: 186px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    text-decoration: none;
}

.logo-text__shelter-name {
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.logo-text__shelter-description {
    font-family: Arial;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
    padding-right: 2px;
}

.header__nav {
    width: 443px;
    height: 27px;
}

.links {
    display: flex;
}

.links__el {
    margin-right: 35px;
    height: 24px;
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
}

.links__el:last-child {
    margin-right: 0px;
}

.links__about {
    text-decoration: none;
    color: #545454;
}

.links__about:hover {
    text-decoration: none;
    color: #292929;
}

.links__our-pets {
    text-decoration: none;
    color: #545454;
}

.links__our-pets:hover {
    color: #292929;
}

.links__help {
    text-decoration: none;
    color: #545454;
}

.links__help:hover {
    color: #292929;
}

.links__contacts {
    text-decoration: none;
    color: #545454;
}

.links__contacts:hover {
    color: #292929;
}

.active {
    border-bottom: 3px solid #F1CDB3;
}

.active-text {
    color: #292929;
}

.non-active {
    pointer-events: none;
}

.burger {
    display: none;
}






.our-friends {
    padding-top: 80px;
    padding-bottom: 100px;
    background: #F6F6F6;
}

.our-friends__content {
    width: 1200px;
    height: 1162px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.our-friends__title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    width: 400px;
    height: 90px;
    margin: 0 auto; 
    text-align: center;
}

.pets-cards {
    height: 900px;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 30px;
    justify-content: space-between;
}
.pet-card {
    background: #FAFAFA;
    border-radius: 9px;
    height: 435px;
    width: 270px;
}

.pet-card:hover {
    background: white;
    cursor: pointer;
}

.pet-card__content {    
    width: 270px;
    height: 405px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
}

.pet-card__name {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.pet-card__button {
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    width: 187px;
    height: 52px;
    background: #FAFAFA;
}

.pet-card__button:hover {
    background: #FDDCC4;
    border-radius: 100px;
    border: 0px;
}

.button-text {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin: auto auto;
}


.slider {
    width: 340px;
    height: 52px;
    margin: 0 auto;
}

.slider__content {
    display: flex;
    justify-content: space-between;
}
.slider__full-left {
    width: 52px;
    height: 52px;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: inherit;
}

.slider__left {
    width: 52px;
    height: 52px;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: inherit;
}

.slider__page {
    width: 52px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    border: 0px;
    
}

.slider__page-number {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
}

.slider__right {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: inherit;
}

.slider__full-right {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: inherit;
}




.footer {
    background: url(./assets/noise_transparent.svg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    padding-top: 40px;
    width: 100%;
}
.footer__content {
    width: 1200px;
    height: 310px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.footer__blocks {
    display: flex;
    column-gap: 161px;
}

.footer__left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 279px;
    height: 234px;
    padding-top: 16px;
}
.footer__left-block-title {
    width: 279px;
    height: 90px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.footer__left-block-email {
    width: 251px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__left-block-email-address {
    width: 191px;
    height: 23px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}

.footer__left-block-phone {
    width: 239px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__left-block-phone-number {
    width: 180px;
    height: 23px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}
.footer__center-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 302px;
    height: 234px;
    padding-top: 16px;
}
.footer__center-block-title {
    width: 279px;
    height: 90px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.footer__center-block-first-address {
    width: 303px;
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__center-block-exact-first-address {
    width: 260px;
    height: 46px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-align: left;
    text-decoration: none;
}

.footer__center-block-exact-second-address {
    width: 260px;
    height: 23px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-align: left;
    text-decoration: none;
}

.footer__center-block-second-address {
    width: 303px;
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




















@media screen and (max-width: 1279px) {
    .header {
        padding: 30px 30px 30px 30px;
    }

    .header__content {
        max-width: 768px;
    }

    .our-friends {
        padding-top: 80px;
        padding-bottom: 76px;
    }

    .our-friends__content {
        width: 768px;
        height: 1583px;
    }

    .pets-cards {
        width: 580px;
        height: 1365px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .pet-card:nth-child(n+7) {
        display: none;
    }

    .footer {
        padding-top: 30px;
    }

    .footer__content {
        width: 640px;
        height: 609px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__blocks {
        display: flex;
        column-gap: 61px;
    }

    .footer-dog {
        width: 300px;
        height: 310px;
    }
}























@media screen and (max-width: 767px) {
    .header {
        padding: 30px 50px 30px 10px;
    }

    .header__nav {
        display: none;
    }
    
    .header__content {
        max-width: 260px;
    }

    .burger {
        display: block;
        width: 30px;
        height: 22px;
        border: 0;
        padding: 0;
        background-color: transparent;
    }

    .our-friends {
        padding-top: 42px;
        padding-bottom: 42px;
    }

    .our-friends__content {
        width: 300px;
        height: 1565px;
    }

    .our-friends__title {
        width: 300px;
        height: 64px;
        font-size: 25px;
    }

    .pets-cards {
        width: 270px;
        height: 1365px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .pet-card:nth-child(n+4) {
        display: none;
    }

    .slider {
        width: 300px;
    }


    
    .footer {
        padding-top: 30px;
        height: 779px;
    }

    .footer__content {
        width: 300px;
        height: 779px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__blocks {
        display: flex;
        row-gap: 40px;
        flex-direction: column;
        width: 300px;
        height: 470px;
    }

    .footer__left-block {
        align-items: center;
        padding-top: 0;
        height: 208px;
    }

    .footer__center-block {
        align-items: center;
        height: 222px;
        padding-top: 0;
    }

    .footer-dog {
        width: 260px;
        height: 269px;
    }

    .footer__left-block-title {
        font-size: 25px;
        text-align: center;
    }

    .footer__center-block-title {
        font-size: 25px;
        text-align: center;
    }
}